<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
">
 
<!-- <aop:aspectj-autoproxy proxy-target-class="true"/> -->
<bean class="com.github.cxt.MySpring.interceptor.ServerImpl"></bean>
<bean id="myMethodInterceptor" class="com.github.cxt.MySpring.interceptor.MyMethodInterceptor"/>
<aop:config>  
    <aop:pointcut id="testPoint" expression="execution(public * com.github.cxt.MySpring.interceptor.*.*(..)) "/>   
    <aop:advisor pointcut-ref="testPoint" advice-ref="myMethodInterceptor"/>  
</aop:config>
<!--
<aop:config>
    <aop:aspect ref="myMethodInterceptor">
        <aop:after method="after" pointcut="execution(public * com.github.cxt.MySpring.interceptor.*.*(..))"/>
    </aop:aspect>
</aop:config>
 -->
</beans>
