<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.cxt.Mybatis.databaseId.TempDao">
  <resultMap id="BaseResultMap" type="com.github.cxt.Mybatis.databaseId.Temp" >
    <id column="id" property="id" />
    <result property="x1" column="daily_time" jdbcType="TIME" />
    <result property="x2" column="x2"/>
  </resultMap>
  
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
   	SELECT 1 id,'111' x2  FROM DUAL
  </select>
  
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Integer" databaseId="mysql">
   	SELECT 1 id,'222' x2  FROM DUAL
  </select>
  
</mapper>